<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <h1> Welcome to our rad lil Python example Flask server! </h1>
    <p>This is a simple HTML page served by Flask.</p>
     <div class="container">
        <div class="row" style="padding-top: 10vh">
            <button class="btn" onclick="getDevices()" id="listDeviceButton">List Devices</button>
            <button class="btn" onclick="controlLed('on')" id="turnOnLed">Turns on LED</button>
            <button class="btn"  onclick="controlLed('off')" id="turnOffLed">Turns off LED</button>
            <button class="btn" id="blinkButton">Get Number of Blinks</button>
        </div>
        <div class="row">
        <h3>Device List will appear here: </h3>
        <ul id="deviceList"></ul>
        </div>
        <div class="row">
        <div id="ledStatus"></div>
        <div id="blinkStatus"></div>
        </div>
        <div class="row">
        <h2>About</h2>
        <p>Want to see the code that I flashed to my Photon2 (aka the firmware that works together with this software?)? it's here: <a href="https://go.particle.io/shared_apps/655c4ef39411c101c3db5fdb">https://go.particle.io/shared_apps/655c4ef39411c101c3db5fdb</a> </p>
        it's just the "Web-Connected LED" app with a couple things added. 
        There's lots more you can do with the <a href="https://docs.particle.io/reference/cloud-apis/api/">Particle REST API</a>, including getting your event stream, publishing events right from the web (events that your devices can Particle.subscribe() and listen for, then react to!) and more!
        Plus there's a bunch of cool things you can do with python and/or JavaScript (like access other APIs, like the OpenAI API, or access AI models, or do image processing, etc. )
        So you could write cool code that grabs or generates data, then sends it to your Particle devices;
        Or you could write cool code that grabs data from your Particle devices and does something with it!
        ok bye im sleepy
        <p>This example code was lovingly prepared by Shm for DESINV202: Technology Design Foundations at UC Berkeley, Fall 2023.</p>
        
        </div>
    </div>


    <script>
        // anything that's inside script tags is JavaScript code! 
        // this serves as an example of getting some info from the Particle cloud and having it show up on this webpage.
        function getDevices() {
        // This request gets sent over to our server, aka the code in 'flaskExample.py' !
            fetch('/get_devices')  
            //it looks for the /get_devices section of our code in flaskExample.py and runs that code before returning here with a response. 
                .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
                })
                .then(data => {
                    
                    //grab the spot in the HTML where we will list the devices...
                    const deviceList = document.getElementById('deviceList');

                    // Populate the list with devices
                    data.forEach(device => {
                        const listItem = document.createElement('li');
                        listItem.textContent = `Device Name: ${device.name}, ID: ${device.id}`;
                        deviceList.appendChild(listItem);
                    });

                    devicesContainer.appendChild(deviceList);
                    })
                .catch(error => {
                    console.error('Error getting devices:', error);
                });
            }
      </script>
    <!-- end of the device list button script. these don't have to be separate scripts. i thought it would just make it slightly more organized for y'all-->
  
  
    <!-- This script is for the turnLedOn and the turnLedOff button (unlike in the JS example, I managed to combine them here lol. yay efficiency!).-->
    <script>
    function controlLed(action) {
      if (action == 'on' ){ 
        route = '/led_on'
      }
      else{
        route = '/led_off'
      }
    fetch(route)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log('LED control response:', data);
        // Handle the response as needed
    })
    .catch(error => {
        console.error('Error controlling LED:', error);
    });
}
    </script>
    <!-- end of the led button on/off script. -->
  

  <!-- beginning of getNumBlinks script-->
  <script>
    // this serves as an example of getting the value of a Particle.variable from our device and showing it on the webpage
    document.getElementById('blinkButton').addEventListener('click', function() {
    const route = '/blinks'; // this tells our code to jump over to App.js (aka our server) and look for the route '/blinks'
  
    fetch(route, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
          console.log("successfully received the number of blinks from particle cloud!")
          const blinkStatus = document.getElementById('blinkStatus');
          blinkStatus.innerHTML = `<h3>Number of Blinks: ${data.numberOfBlinks}</h3>`;
          if (data.numberOfBlinks == 182 ){ 
            blinkStatus.innerHTML = `<h3>Number of Blinks: omg i love Blink-182</h3>`; //just a little easter egg for y'all
          }
      })
      .catch(error => {
        console.error('Error sending request:', error);
      });
  });
  </script>
  <!--end of the blinks script-->
  
  
  <!--end of our cool JavaScripts -->


</body>
</html>